/* IBM Plex Sans / IBM Plex Mono - local woff2 (cyrillic, cyrillic-ext, latin)
   Source: Google Fonts (SIL Open Font License).
   Self-hosted for letterbot.ru, no CDN. */

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(IBM_Plex_Sans-400-cyrillic-ext.woff2) format('woff2');
  unicode-range: cyrillic-ext;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(IBM_Plex_Sans-400-cyrillic.woff2) format('woff2');
  unicode-range: cyrillic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(IBM_Plex_Sans-400-latin.woff2) format('woff2');
  unicode-range: latin;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(IBM_Plex_Sans-500-cyrillic-ext.woff2) format('woff2');
  unicode-range: cyrillic-ext;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(IBM_Plex_Sans-500-cyrillic.woff2) format('woff2');
  unicode-range: cyrillic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(IBM_Plex_Sans-500-latin.woff2) format('woff2');
  unicode-range: latin;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(IBM_Plex_Sans-600-cyrillic-ext.woff2) format('woff2');
  unicode-range: cyrillic-ext;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(IBM_Plex_Sans-600-cyrillic.woff2) format('woff2');
  unicode-range: cyrillic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(IBM_Plex_Sans-600-latin.woff2) format('woff2');
  unicode-range: latin;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(IBM_Plex_Sans-700-cyrillic-ext.woff2) format('woff2');
  unicode-range: cyrillic-ext;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(IBM_Plex_Sans-700-cyrillic.woff2) format('woff2');
  unicode-range: cyrillic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(IBM_Plex_Sans-700-latin.woff2) format('woff2');
  unicode-range: latin;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(IBM_Plex_Mono-400-cyrillic-ext.woff2) format('woff2');
  unicode-range: cyrillic-ext;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(IBM_Plex_Mono-400-cyrillic.woff2) format('woff2');
  unicode-range: cyrillic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(IBM_Plex_Mono-400-latin.woff2) format('woff2');
  unicode-range: latin;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(IBM_Plex_Mono-500-cyrillic-ext.woff2) format('woff2');
  unicode-range: cyrillic-ext;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(IBM_Plex_Mono-500-cyrillic.woff2) format('woff2');
  unicode-range: cyrillic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(IBM_Plex_Mono-500-latin.woff2) format('woff2');
  unicode-range: latin;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(IBM_Plex_Mono-600-cyrillic-ext.woff2) format('woff2');
  unicode-range: cyrillic-ext;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(IBM_Plex_Mono-600-cyrillic.woff2) format('woff2');
  unicode-range: cyrillic;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(IBM_Plex_Mono-600-latin.woff2) format('woff2');
  unicode-range: latin;
}

